[submodule "addlayers"]
	path = addlayers
	url = https://github.com/guadaltel/addlayers.git
[submodule "addservices"]
	path = addservices
	url = https://github.com/guadaltel/addservices.git
[submodule "buffer"]
	path = buffer
	url = https://github.com/guadaltel/buffer.git
[submodule "freedraw"]
	path = freedraw
	url = https://github.com/guadaltel/freedraw.git
[submodule "fullviewmap"]
	path = fullviewmap
	url = https://github.com/guadaltel/fullviewmap.git
[submodule "managelayers"]
	path = managelayers
	url = https://github.com/guadaltel/managelayers.git
[submodule "mapeffects"]
	path = mapeffects
	url = https://github.com/guadaltel/mapeffects.git
[submodule "referencelocatorcatastro"]
	path = referencelocatorcatastro
	url = https://github.com/guadaltel/referencelocatorcatastro.git
[submodule "showcoordinates"]
	path = showcoordinates
	url = https://github.com/guadaltel/showcoordinates.git
[submodule "spatialcalculator"]
	path = spatialcalculator
	url = https://github.com/guadaltel/spatialcalculator.git
[submodule "srsselector"]
	path = srsselector
	url = https://github.com/guadaltel/srsselector.git
[submodule "windrose"]
	path = windrose
	url = https://github.com/guadaltel/windrose.git
[submodule "wmc"]
	path = wmc
	url = https://github.com/guadaltel/wmc.git
[submodule "xylocator"]
	path = xylocator
	url = https://github.com/guadaltel/xylocator.git
[submodule "filteredsearch"]
	path = filteredsearch
	url = https://github.com/guadaltel/filteredsearch.git
[submodule "maxextzoom"]
	path = maxextzoom
	url = https://github.com/guadaltel/maxextzoom.git
[submodule "viewhistory"]
	path = viewhistory
	url = https://github.com/guadaltel/viewhistory.git
[submodule "catalogsearch"]
	path = catalogsearch
	url = https://github.com/guadaltel/catalogsearch
[submodule "transparency"]
	path = transparency
	url = https://github.com/guadaltel/transparency.git
[submodule "magnify"]
	path = magnify
	url = https://github.com/guadaltel/magnify.git
[submodule "sharemap"]
	path = sharemap
	url = https://github.com/guadaltel/sharemap.git
